version: '3.2'

services:
  apinf-edge:
    container_name: apinf-edge
    hostname: apinf-edge
    image: apinf-edge:latest
#    restart: always
    cap_add:
      - SYS_PTRACE
    environment:      
      IQ2_EDGE_NAME: "EDGE Name (Ex. APINF-EDGE-1)"
      IQ2_NGINX_MGR_PORT: 20004      
      IQ2_MASTER_CLUSTER_INFO: "Cluster Master IP:Port (comma separated)"
      IQ2_NGINX_LOG_ROTATE_THRESHOLD: 100 # Unit size : MB
    volumes:
      - nginx-mgr-conf:/iq2/edge/iq2-nginx-mgr/conf:rw
      - nginx-conf:/iq2/edge/iq2-nginx-mgr/nginx-conf:rw
      - nginx-mgr-logs:/iq2/edge/iq2-nginx-mgr/logs:rw
      - nginx-logs:/iq2/edge/iq2-nginx/logs:rw
      - /etc/localtime:/etc/localtime:ro
    network_mode: "host"
    # networks:
    #   - apinf-net
    # network_mode: "bridge"
    # ports:
    #   - "10080:10080"
    #   - "20004:20004"

# network mode가 host일 경우 주석 처리
# networks:
#   apinf-net:
#     external: true

volumes:
    nginx-mgr-conf:
    nginx-conf:
    nginx-mgr-logs:
    nginx-logs:
